h2 {
    color: #FBEEC1;
}
body {
    background-color: #FBEEC1;
    margin: 0 auto;
    width: 1200px;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    border: 1px black solid;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: #659DBD;
    color: white;
    box-shadow: 5px 10px #DAAD86;
    border-radius: 10px;
    height: 70px;
}
.card h2 {
    margin-left: 2%
}
.card p {
    margin-left: 2%   
}
.infoArea {
    visibility: visible;
    transition: .8s;
}
.hidden {
    visibility: collapse;
}
.visible {
    height: 300px;
}
button {
    margin-top: 10px;
}
#planets {
    margin-top: 20px;
    height: 20px
}